/* base style {{{ */
body {
  background: url("../images/body.png") repeat-x;
  color: #666666;
  font: 12px/1.35 "微软雅黑",Arial,Helvetica,sans-serif;
}
input[type=submit] {
	cursor: pointer;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
#wrapper {
	width: 956px;
	margin: 0 auto;
}
/* }}} */
/* css class {{{ */
.clear { clear: both; height: 0px; font-size:0px; overflow: hidden; }
/* position */
.pl {
  position: relative;
}
.pa {
  position: absolute;
}
/* float */
.lf {
	float: left;
	display: inline;
}
.rt {
	float: right;
	display: inline;
}
/* text algin */
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
/* padding */
.pad1 {
  padding: 1px;
}
.pad5 {
	padding: 5px;
}
.pt5 {
	padding-top: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.pad9 {
	padding: 9px;
}
.pad10 {
	padding: 10px;
}
.pad14 {
	padding: 14px;
}
.pad15 {
	padding: 15px;
}
.pad20 {
	padding: 20px;
}
.pad25 {
	padding: 25px;
}
.pl10 {
	padding-left: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
	padding-top: 30px;
}
.pb15 {
	padding-bottom: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl50 {
	padding-left: 50px;
}
/* margin */
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.ml58 {
  margin-left: 58px;
}
.mt10 {
	margin-top: 10px;
}
.mt13 {
	margin-top: 13px;
}
.mt15 {
	margin-top: 15px;
}
.ml15 {
	margin-left: 15px;
}
.ml19 {
	margin-left: 19px;
}
.mt25 {
  margin-top: 25px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml50 {
	margin-left: 50px;
}
.mb5 {
	margin-bottom: 5px;
}
.ml20 {
	margin-left: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mt40 {
  margin-top: 40px;
}
/* font */
.fs10 {
	font-size: 10px;
}
.fs14 {
	font-size: 14px;
}
.fs16 {
	font-size: 16px;
}
.fs18 {
	font-size: 18px;
}
.fs20 {
	font-size: 20px;
}
.fs24 {
	font-size: 24px;
}
.fs30 {
	font-size: 30px;
}
.fwb {
	font-weight: bold;
}
/* color */
.color-b40014 {
	color: #b40014;
}
.color-ffffff {
	color: #ffffff;
}
.color-8a0e0e {
	color: #8a0e0e;
}
.color-000000 {
  color: #000000;
}
.color-ffc800 {
	color: #ffc800;
}
.color-3264c8 {
	color: #3264c8;
}
.color-00ff00 { 
	color: #00ff00;
}
.color-red { 
	color: red;
}
.color-cccccc {
	color: #cccccc;
}
/* background color */
.bkff {
	background: #ffffff;
}
.bk880c0c {
	background: #880c0c;
}
.bke5e5e5 {
	background: #e5e5e5;
}
.bke8cece {
	background: #e8cece;
}
/* line height */
.lh18 {
	line-height: 18px;
}
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh24 {
	line-height: 24px;
}
.lh30 {
	line-height: 30px;
}
.lh35 {
	line-height: 35px;
}
/* height */
.h30 {
	height: 30px;
}
/* border style */
.bd1scccccc {
  border: #cccccc 1px solid;
}
.bd1s3264c8 {
  border: #3264c8 1px solid;
}
.bd1sc8c8c8 {
  border: #c8c8c8 1px solid;
}
.bd1s969696 {
  border: #969696 1px solid;
}
.bd1se5e5e5 {
  border: #e5e5e5 1px solid;
}
/* tab 切换 样式 */
.switch-blocks li {
  display: none;
}
.switch-blocks li.current {
  display: block;
}
/* overflow hidden */
.overfh {
  overflow: hidden;
}
/* width */
.w115 {
  width: 115px;
}
.w195 {
  width: 195px;
}
.w288 {
  width: 288px;
}
.w299 {
  width: 299px;
}
.w295 {
  width: 295px;
}
.w310 {
  width: 310px;
}
.w363 {
  width: 363px;
}
.w400 {
  width: 400px;
}
.w405 {
  width: 405px;
}
.w480 {
  width: 480px;
}
.w618 {
  width: 618px;
}
.w660 {
  width: 660px;
  overflow: hidden;
}
/* }}} */
/* {{{ register */
.user-center {
	background: url('../images/left.png') no-repeat left bottom;
}
.sidebar {
	width: 210px;
	height: 580px;
	padding-top: 30px;
	background: url('../images/left.png') no-repeat left top;
}
a.sidebar-link {
    background: url("../images/left_2.png") no-repeat;
    display: block;
    height: 72px;
    margin-left: 2px;
    padding: 10px 0 0 20px;
    width: 168px;
}
a.sidebar-link span {
    color: #616C72;
    display: block;
}
a.sidebar-link span.dt {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    padding-left: 30px;
}
a.sidebar-link span.dd {
    height: 16px;
    line-height: 16px;
    padding-top: 10px;
}
.sidebar a.current {
    background-position: left bottom;
		width: auto;
}
.sidebar a.current span {
    color: #FFFFFF;
}
.rt-content {
    background: #F8FDFF;
    border-bottom: 1px solid #D6D9DB;
    border-top: 1px solid #80ADD9;
    border-right: 1px solid #D6D9DB;
    float: left;
		_height: 530px;
    min-height: 530px;
    padding-bottom: 80px;
    width: 745px;
}
.register-form {
	padding: 50px;
}
.register-form strong,
.register-form .help-inline {
	color: #ff6666;
}
.register-form .well .control-label {
	width: 120px;
}
.register-form .well .controls {
	margin-left: 140px;
	*margin-left: 0px;
}
.register-form input.input-checkbox {
	width: auto;
	height: auto;
	*margin-top: 2px;
}
.register-form .pact-link {
	color: #4199d7;
}
.register-form .submit-btn {
  background: url("../images/ipt.png") no-repeat 0 -344px;
	border: medium none;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
	height: 52px;
	text-align: center;
	width: 183px;
	margin-left: 180px;
	margin-top: 40px;
}
.register-success {
	padding: 50px 170px;
}
.register-success-info {
	padding-left: 125px;
	background: url('../images/success.png') no-repeat 0px 0;
}
.login-center-link {
	width: 197px;
	height: 50px;
	display: inline-block;
	background: url('../images/login-center.png') no-repeat;
}
.sidebar .search {
    background: url("../images/index_icon_1.png") no-repeat;
    height: 245px;
    margin-left: 7px;
    margin-top: 97px;
    width: 179px;
}
.sidebar .search .ipt_box {
    padding: 41px 0 0 5px;
}
.sidebar .search .ipt_box a {
    cursor: text;
}
.sidebar .search .ipt_box input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 5px 2px;
}
.sidebar .search .ipt_box input.txt {
    color: #AAAAAA;
    width: 136px;
		border: 0;
		float: left;
}
.sidebar .search .ipt_box input.ipt-btn {
    cursor: pointer;
    height: 26px;
    outline: medium none;
		float: left;
    padding: 0;
    width: 30px;
}
.sidebar .search .ipt_box input.ipt-btn:hover {
    background: url("http://id3.idqqimg.com/zc/chs/img/index_icon_1.png") no-repeat scroll 0 -200px transparent;
    height: 26px;
		float: left;
    padding: 0;
    width: 30px;
}
.sidebar .search ul {
    padding: 0 0 27px 27px;
    width: 150px;
		margin: 0;
}
.sidebar .search ul li {
    float:left;
}
.sidebar .search ul a {
    float:left;
    height: 28px;
    width: 75px;
}
.sidebar .search ul a {
    color: #696969;
    line-height: 20px;
}
.sidebar .search ul a:hover {
    color: #4199D7;
}
/* }}} */
/* {{{ login */
.login-block {
	padding: 135px 0 20px 355px;
	height: 346px;
	position: relative;
	background: url('../images/pass_login.jpg') no-repeat;
}
/* }}} */
/* {{{ index */
.sidebar-list {
	margin-left: 2px;
	overflow: hidden;
}
.sidebar-list li a {
	width: 163px;
	border-bottom: 1px dotted #0b5ba5;
	clear: both;
	display: block;
	height: 35px;
	line-height: 35px;
	color: #0b5ba5;
	padding-left: 25px;
	font-size: 14px;
}
.sidebar-list li.current a {
	width: auto;
	height: 38px;
	line-height: 38px;
	border-bottom: 0;
	background: url('../images/s6v9bt5p.png') no-repeat;
	color: #ffffff;
}
.login-msg {
	width: 300px;
}
.index-news {
	width: 300px;
}
/* }}} */
/* register pect {{{ */
.reg-pect-cont {
	padding: 20px 50px;
}
/* }}} */
/* balance {{{ */
.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}
input.balance-radio {
	width: auto;
	height: auto;
}
input.details-submit {
	width: auto;
}
input.balance-submit {
	width: auto;
}
/* }}} */
/* details {{{ */
#details-tabs {
	width: 650px;
	margin-top: 50px;
	margin-left: 30px;
}
.details-content .ui-widget-header,
.details-content .ui-widget-content {
	border: 0;
	background: none;
}
.details-content .ui-state-default {
	background: #ffffff;
}
.details-content .ui-state-active {
	background: #deeaf6;
}
.details-type a {
	color: #0b5ba5;
}
.details-table td,
.details-table th {
	line-height: 25px;
	text-align: center;
}
.details-table th {
	background: #deeaf6;
}
.details-line {
	border-top: #cccccc 1px solid;
}
/* }}} */
